<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="AdvantageAPIPath" value="C:\Users\czappala\Documents\GitHub\advantage-patron-api\back\Api"/>
		<add key="PalermoAppFrontPath" value="C:\Users\czappala\Documents\GitHub\app-palermo\front"/>
		<add key="PalermoAppAPIPath" value="C:\Users\czappala\Documents\GitHub\app-palermo\back\Api"/>
		<add key="IntranetFrontPath" value="C:\Users\czappala\Documents\GitHub\intranet\front"/>
		<add key="IntranetAPIPath" value="C:\Users\czappala\Documents\GitHub\intranet\back\Api"/>
		<add key="ProhibitionsAPIPath" value="C:\Users\czappala\Documents\GitHub\ProhibitionsAPI\src\Api"/>
		<add key="PromotionsAPIPath" value="C:\Users\czappala\Documents\GitHub\Promotions\back\Api"/>
		<add key="PromotionsFrontPath" value="C:\Users\czappala\Documents\GitHub\Promotions\front"/>
		<add key="SalesForceAPIPath" value="C:\Users\czappala\Documents\GitHub\salesforce-api\back\Api"/>
	</appSettings>
</configuration>